@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,300;0,400;0,500;1,300&display=swap');
body{
    font-family:'Fira Sans Condensed',sans-serif;
    margin:0;
    background-color: rgb(230, 227, 227);
}
header{
    padding: 2px;
    text-align: center;
    background: url("bg22.jpg");
    color:whitesmoke;
    width:100%;
    height:150px;
    font-style: italic;
    font-size: 30px;
    font-weight: 600;
}
nav{
    background: #333;
    overflow:hidden;
    position:sticky;
    top:0px;
    left:0;
    width:100%;
    z-index: 5;
}

nav a{
    text-decoration: none;
    padding:20px;
    text-align: center;
    float:left;
    color:whitesmoke;
    font-weight: 500;
    font-size: 1.2rem;
    font-style: italic;
    letter-spacing: 1px;
    transition:1s;
    transition-property: transform;
}
nav a:not(:last-child){
    margin-right: 20px;
}
nav a:hover{
    transform:scale(1.5);
    text-decoration: underline;
    color:lightblue;
}
.pb{
    margin:20px;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}
footer{
    background-color: #333;
    overflow:hidden;
    width:100%
}
footer a{
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    font-style: italic;
    letter-spacing: 1px;
    transition:1s;
    transition-property: transform;
}
footer a:not(:last-child){
    margin-right: 20px;
}
footer a:hover{
    transform:scale(1.5);
    text-decoration: underline;
    color:lightblue;
}
.book{
    background-color: whitesmoke;
    padding: 5px;
    margin:20px;
    border-radius: 10px;
    height:400px;

}

.photo{
    margin:20px;
    width:300px;
    float:left;
}
.photo:hover{
    transition:1s;
    transition-property: transform;
    transform:scale(1.5);
}
.name{
    margin-left:10px;
    font-weight: bold;
    font-style: italic;
    font-size:30px;
}
.author{
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
}
.bookrev{
    line-height: 2;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}
.more {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    margin : 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-style: italic;
}
.more a{
    color:black;
}

